<div class="modules">
    <div class="module" *ngFor=" let module of modules">
        <div>
            <div class="moduleTitle">
                <div class="titleInfo"> Voltage:<span> {{module.cells | voltageSum | number:'1.2-2' }} V </span> Temp
                    {{module.temperature}} °C</div>
                <div class="moduleId">Module nr.:{{module.moduleId}}</div>

            </div>
        </div>

        <div class="cells" id={{module.moduleId}}>
            <div class="cell" *ngFor="let cell of module.cells" id={{module.moduleId}}{{cell.cellId}}>
                {{cell.voltage}} V
                <meter min="3.15" max="4.2"  low="3.41" high="3.67" optimum="3.935" value="{{cell.voltage}}"></meter>
            </div>

        </div>
    </div>
</div>
