.modules{
    display: grid;
    grid-template-columns: repeat(3, 450px [col-start]);
    margin:10px
}
.moduleTitle{
    display: flex;
    justify-content: space-between;
   
}

.moduleId {
    background: blue;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    color: white;
}

.module{
    border: 1px solid blue;
    border-radius: 4px;
    margin:10px;
    padding:5px;
    height: auto
}

.cells{
    display: grid;
    grid-template-columns: repeat(3, 50px [col-start]);
    justify-content: space-evenly;
    justify-items: center;
}

.cell{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid green;
    border-radius: 4px;
    width: 150%;
    margin: 10px;
}

meter{
    width: 100%;
}