.widget{
    display: inline-block;
    border: 1px solid green;
    border-radius: 4px;
    margin: 5px;
    width: 200px;
    text-align: center;
}

.title{
    background-color: green;
    color: white;
}
.value{
    padding: 0px 5px;
}

.valueUnit{
    display: flex;
    justify-content: center;
}