<app-widget [title]="'Charging'" [value]="'0'" [unit]="' kW'"></app-widget> <!-- nedostupne z API -->
<app-widget [title]="'Status of Charge'" [value]="moduleData.soc " [unit]="' %'"></app-widget>
<app-widget [title]="'Battery Voltage'" [value]="moduleData.batteryVoltage" [unit]="' V'"></app-widget>
<app-widget [title]="'battery Current'" [value]="moduleData.batteryCurrent" [unit]="' A'"></app-widget>
<app-widget [title]="'Remaining Energy'" [value]="moduleData.batteryVoltage" [unit]="' kWh'"></app-widget>
<app-widget [title]="'Contactor'" [value]="moduleData.contactorState ? 'On':'Off'"></app-widget>
<app-widget [title]="'Cell MAX Voltage'" [value]="moduleData | findMax" [unit]="' V'"></app-widget>
<app-widget [title]="'Cell MIN Voltage'" [value]="moduleData | findMin" [unit]="' V'"></app-widget>
<app-widget [title]="'Cells delta'" [value]="moduleData.batteryDelta | number:'1.2-2'" [unit]="' mv'"></app-widget>
<app-widget [title]="'Warning / Alarm'" [value]="'ok / ok'"></app-widget> <!-- nedostupne z API -->